<a href="https://colab.research.google.com/github/yazfir/Projects2021/blob/master/DSLinkedin/04TransformacionesDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Transformaci√≥n de Datos</h1>

In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('base_datos_2008.csv', nrows=100000)

In [45]:
#Crearemos una columna nueva a nuestra BD

df['HoursDelay'] = round(df['ArrDelay']/60)

df['HoursDelay'].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

In [46]:
df.head()

   Year  Month  DayofMonth  ...  SecurityDelay  LateAircraftDelay  HoursDelay
0  2008      1           3  ...            NaN                NaN        -0.0
1  2008      1           3  ...            NaN                NaN         0.0
2  2008      1           3  ...            NaN                NaN         0.0
3  2008      1           3  ...            NaN                NaN        -0.0
4  2008      1           3  ...            0.0               32.0         1.0

[5 rows x 30 columns]

In [47]:
#Si queremos borrar una columna

del(df['HoursDelay'])

In [48]:
df.head()

   Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0  2008      1           3  ...       NaN            NaN                NaN
1  2008      1           3  ...       NaN            NaN                NaN
2  2008      1           3  ...       NaN            NaN                NaN
3  2008      1           3  ...       NaN            NaN                NaN
4  2008      1           3  ...       0.0            0.0               32.0

[5 rows x 29 columns]

In [49]:
#Borrar Varias Columnas a la Vez

df.drop(['Diverted','Cancelled','Year'],axis=1) #En este caso s√≥lo lo ejecuta pero no lo guarda en df, habr√≠a que igualarlo a df

       Month  DayofMonth  DayOfWeek  ...  NASDelay  SecurityDelay  LateAircraftDelay
0          1           3          4  ...       NaN            NaN                NaN
1          1           3          4  ...       NaN            NaN                NaN
2          1           3          4  ...       NaN            NaN                NaN
3          1           3          4  ...       NaN            NaN                NaN
4          1           3          4  ...       0.0            0.0               32.0
...      ...         ...        ...  ...       ...            ...                ...
99995      1          25          5  ...       0.0            0.0              129.0
99996      1          26          6  ...       NaN            NaN                NaN
99997      1          27          7  ...       0.0            0.0               40.0
99998      1          28          1  ...       NaN            NaN                NaN
99999      1          29          2  ...       NaN            NaN                NaN

[100000 rows x 26 columns]

In [50]:
df.head()

   Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0  2008      1           3  ...       NaN            NaN                NaN
1  2008      1           3  ...       NaN            NaN                NaN
2  2008      1           3  ...       NaN            NaN                NaN
3  2008      1           3  ...       NaN            NaN                NaN
4  2008      1           3  ...       0.0            0.0               32.0

[5 rows x 29 columns]

In [51]:
df.drop(['Diverted','Cancelled','Year'],axis=1, inplace=True) #En este caso lo ejecuta y guarda en df

In [52]:
df.head()

   Month  DayofMonth  DayOfWeek  ...  NASDelay  SecurityDelay  LateAircraftDelay
0      1           3          4  ...       NaN            NaN                NaN
1      1           3          4  ...       NaN            NaN                NaN
2      1           3          4  ...       NaN            NaN                NaN
3      1           3          4  ...       NaN            NaN                NaN
4      1           3          4  ...       0.0            0.0               32.0

[5 rows x 26 columns]

In [53]:
#Para eliminar filas, por ejem. la fila 0

df.drop(0)

       Month  DayofMonth  DayOfWeek  ...  NASDelay  SecurityDelay  LateAircraftDelay
1          1           3          4  ...       NaN            NaN                NaN
2          1           3          4  ...       NaN            NaN                NaN
3          1           3          4  ...       NaN            NaN                NaN
4          1           3          4  ...       0.0            0.0               32.0
5          1           3          4  ...       NaN            NaN                NaN
...      ...         ...        ...  ...       ...            ...                ...
99995      1          25          5  ...       0.0            0.0              129.0
99996      1          26          6  ...       NaN            NaN                NaN
99997      1          27          7  ...       0.0            0.0               40.0
99998      1          28          1  ...       NaN            NaN                NaN
99999      1          29          2  ...       NaN            NaN                NaN

[99999 rows x 26 columns]

In [54]:
#Si se quiere eliminar varias filas, ejem. en un rango

df.drop(range(500,1000)) #S√≥lo ejecuta no guarda en df, con inplace=True s√≠ lo har√≠a.

       Month  DayofMonth  DayOfWeek  ...  NASDelay  SecurityDelay  LateAircraftDelay
0          1           3          4  ...       NaN            NaN                NaN
1          1           3          4  ...       NaN            NaN                NaN
2          1           3          4  ...       NaN            NaN                NaN
3          1           3          4  ...       NaN            NaN                NaN
4          1           3          4  ...       0.0            0.0               32.0
...      ...         ...        ...  ...       ...            ...                ...
99995      1          25          5  ...       0.0            0.0              129.0
99996      1          26          6  ...       NaN            NaN                NaN
99997      1          27          7  ...       0.0            0.0               40.0
99998      1          28          1  ...       NaN            NaN                NaN
99999      1          29          2  ...       NaN            NaN                NaN

[99500 rows x 26 columns]

In [55]:
#A√±adir nuevas filas a la BD

dfIND = df[df.Origin == 'IND']
dfHOU = df[df.Origin == 'HOU']

In [56]:
newdf = dfIND.append(dfHOU)

In [58]:
newdf.Origin

2        IND
3        IND
4        IND
5        IND
6        IND
        ...
91668    HOU
91669    HOU
91670    HOU
91671    HOU
91672    HOU
Name: Origin, Length: 4302, dtype: object

In [60]:
newdf.head(5000)

       Month  DayofMonth  DayOfWeek  ...  NASDelay  SecurityDelay  LateAircraftDelay
2          1           3          4  ...       NaN            NaN                NaN
3          1           3          4  ...       NaN            NaN                NaN
4          1           3          4  ...       0.0            0.0               32.0
5          1           3          4  ...       NaN            NaN                NaN
6          1           3          4  ...       0.0            0.0               47.0
...      ...         ...        ...  ...       ...            ...                ...
91668      1          31          4  ...      44.0            0.0              176.0
91669      1          31          4  ...       NaN            NaN                NaN
91670      1          31          4  ...      10.0            0.0               21.0
91671      1          31          4  ...      32.0            0.0               73.0
91672      1          31          4  ...       2.0            0.0               82.0

[4302 rows x 26 columns]